.post-content h1 {
    font-size: 2rem;
}

.post-content h2 {
    font-size: 1.6rem;
}

.post-content h3 {
    font-size: 1.35rem;
}

.post-content h4 {
    font-size: 1.15rem;
}

.post-content p {
    font-size: 18px;
    line-height: 1.8;
}
